<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background" no-bounce>

	<form class="form-div" (submit)="doLogin()">
		<ion-list>
			<ion-item>
				<ion-label position="stacked">Email</ion-label>
				<ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Password</ion-label>
				<ion-input [type]="password_type" [(ngModel)]="account.password1"name="password"> </ion-input>
			</ion-item>
			<ion-button expand="full" type="submit">Log in</ion-button>
		</ion-list>

	</form>

	<div class="login-div" (click)="gotoLogin()">
		Already have an account? Tap here to sign in.
	</div>

</ion-content>
